.contenedor-flex {
    width: 500px;
    height: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item1 {
    width: 100px;
    height: 80px;
    border: 1px;
    background-color: green;
}
.item2 {
    width: 380px;
    height: 80px;
    border: 1px;
    background-color: gray;
}
.item3 {
    width: 100%;
    height: 40px;
    border: 2px solid black;
    background-color: white;
}
.item4 {
    width: 150px;
    height: 300px;
    border: 1px;
    background-color: palevioletred;
}
.item5 {
    width: 160px;
    height: 100px;
    background-color: cyan;
}
.item6 {
    width: 160px;
    height: 100px;
    background-color: purple;
}
.item7 {
    width: 350px;
    height: 150px;
    background-color: yellowgreen;
}
.item8 {
    width: 100%;
    height: 100px;
    border: 2px dashed  black;
    background-color: lightblue;
}